<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Movie Ticket Information</title>
<style>
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
</style>
</head>
<body>

<h2>Movie Ticket Information</h2>

<table id="movie-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Movie</th>
      <th>Name</th>
      <th>Email</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="table-body">
     {% for n in data%}
    <tr>

      <td>1</td>
      <td>{{ n.movie }}</td>
      <td>{{ n.name }}</td>
      <td>{{ n.email }}</td>
      <td>{{ n.quantity }}</td>
      <td>{{ n.date }}</td>
      <td>{{ n.time }}</td>
      <td><button onclick="deleteRow(this)">Delete</button></td>
    </tr>
    {%  endfor %}
    <tr>
     

  </tbody>
</table>

<script>
function deleteRow(btn) {
  var row = btn.parentNode.parentNode;
  row.parentNode.removeChild(row);
}



</script>



</body>
</html>
